  #titulo{
  	width: 95%;
  	height: 100%;
    padding: 25px;
    border: 25px solid #003300 ;
   	font-size: 100%: 
   	vertical-align: middle;
   	background-color: #80ff80;
   	text-align:center;
   	font-size:200%;
  }

 